

* {
    box-sizing: border-box;
  }

body {
    font-family: Verdana, sans-serif;
    background-image: url("https://img.freepik.com/free-photo/grunge-paper-background_1048-10791.jpg");
    background-size: 100% 100%;
}

.bold {
    font-weight: bold;
}

#navbar{
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-image: linear-gradient(#b09253 #b67e06);
  }
  
#navbar a {
    width: 16.66666%;
    float: left;
    font-size: 25px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Impact, sans-serif;
    text-shadow: 0px 0px 10px #911313;
    border: 3px outset #b09253;
    background-color: #b09253;
}

#navbar a:hover {
    width: 16.66666%;
    float: left;
    font-size: 25px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Impact, sans-serif;
    text-shadow: 0px 0px 10px #911313;
    border: 3px inset #b09253;
    background-color: #836e40;
}

h1 {
    font-size: 140px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    border-bottom: 10px ridge #a38a54;
    padding-bottom: 30px;
}


